<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".mkv" mimeType="video/x-matroska" />
            <mimeMap fileExtension=".ini" mimeType="text/plain; charset=UTF-8" />
            <mimeMap fileExtension=".list" mimeType="text/plain; charset=UTF-8" />
            <mimeMap fileExtension=".*" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8" />
        </staticContent>
        <caching enabled="true" enableKernelCache="true">
            <profiles>
                <add extension="*" policy="DisableCache" kernelCachePolicy="DisableCache" />
                <add extension=".list" policy="DisableCache" kernelCachePolicy="DisableCache" />
                <add extension=".ini" policy="DisableCache" kernelCachePolicy="DisableCache" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
